.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        text-align: left;
    }

    h1 {
        color: #0d0d0d;
        font-size: 70px;
        margin: 0;
        font-family: "coolvetica";
        font-weight: 400;
    }

    h2 {
        color: #0e1140;
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.8 backwards;
    }

    .flat-button {
        color: #404259;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 2px solid #515373;
        margin-top: 25px;
        float: left;
    }
}
