.contact-form {
    width: 100%;
    margin-top: 20px;

    input[type="text"],
    input[type="email"],
    textarea {
        background: #f2efeb;
        border: none;
        width: 100%;
        resize: none;
        font-size: 19px;
    }

    ::placeholder {
        opacity: 1;
        color: #101685;
        font-size: 19px;
    }

    .flat-button {
        color: #101685;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 2px solid #101685;
        float: left;
        text-align: center;
        width: 50%;
        white-space: nowrap;

        &:hover {
            color: #f2efeb;
            background: #101685;
        }
    }
}
